.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 16px;
}

.card {
  position: relative;
  display: block;
  border: 2px solid rgba(160, 157, 167, 0.7);
  border-radius: 8px;
  overflow: hidden;
}

.card img {
  display: block;
  width: 100%;
}

.card a {
    color: inherit;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgba(160, 157, 167, 0.7);
}